region = "ap-south-1"

demo_blue_instance_name = "demo-instance-${ENV}"
demo_blue_security_name = "terraform_${ENV}_practice"
demo_key_name = "demo-key"
shell_file_blue = "./automation-blue.sh"

XL = ""
L = "m5.xlarge"
M = "t3a.small"
S = "t2.micro"



#####################################################

vpc_name = "demo-vpc-${ENV}"
private_subnet_cidr_blocks = [${PRIVATE_SUBNETS}]
public_subnet_cidr_blocks = [${PUBLIC_SUBNETS}]
cidr_block = "${VPC_CIDR}"
environment = "demo-${ENV}"
elb_name = "demo-elb-${ENV}"
ami_id = "ami-09ba48996007c8b50"
artifact_name = "${ARTIFACT_NAME}"
ec2_role = "ec2_role_${ENV}"
instance_profile = "demo_profile_${ENV}"
